[Unit]
Description=Ser2tcp server
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/ser2tcp -v -c %h/.config/ser2tcp.conf

[Install]
WantedBy=default.target
